<div class="container">
  <div class="row">

    <!-- Sidebar template -->
    <section class="col-3">
       <!-- Sorting options -->
      <h5 class="text-warning ml-3">Sort</h5>
      <select class="custom-select mb-3">
          <option>Alphabetical A-Z</option>
          <option>Price: Low to High</option>
          <option>Price: High to Low</option>
      </select>

       <!-- Product Brands -->
      <h5 class="text-warning ml-3">Brands</h5>
      <ul class="list-group my-3">
        <li class="list-group-item" 
            *ngFor="let brand of brands"
            [class.active]="brandid === brandIdSelected"
            [value]="brand.id"
            (click)="onBrandSelected(brand.id)"
        >
          {{brand.name}}
        </li>
      </ul>

       <!--Product Types -->
      <h5 class="text-warning ml-3">Types</h5>
      <ul class="list-group my-3">
        <li class="list-group-item " 
          *ngFor="let type of types"
          [class.active]="typeid === typeIdSelected"
          [value]="type.id"
          (click)="onTypeSelected(type.id)"   
        >
          {{type.name}}
        </li>
      </ul>
    </section>

    <!-- Category Content template -->
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <header>
          <span>Showing <strong>10</strong> of <strong>15</strong> Results</span>
        </header>
        <div class="form-inline mt-2">
          <input class="form-control mr-2" style="width:300px;" placeholder="Search" type="text">
          <button type="button" class="btn btn-outline-primary my-2">Search</button>
          <button type="button" class="btn btn-outline-success ml-2 my-2">Reset</button>
        </div>
      </div>
      
      <div class="row">
        <div class="col-4 mb-4" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
          
        </div>
      </div>
    </section>
  </div>
</div>